version: "3.0"

services:
  development:
    image: ghcr.io/emanguy/rust-ci:1.85-v1.0.0
    command: /bin/sh -c "while sleep 1000; do :; done"
    volumes:
      - ..:/workspace:cached
    cap_add:
      - SYS_PTRACE
    security_opt:
      - seccomp:unconfined